li, p {
    font-size: 15px;
    padding-bottom: 15px;
    font-family: GT-Walsheim-Regular;
}
.banner {
  background-image: url('../images/grainy-background.svg');
  padding-top: 100px;
}
.container {
  max-width: 1555px;
  width: 100%;
  margin: 0 auto
}
.heroImage {
  max-width: 740px;
  margin: 0 auto;
  margin-top: -55px
}
h1 {
  font-family: GT-Walsheim-Medium;
  font-size: 70px;
  font-weight: 500;
  max-width: 813px;
  width: 100%;
  padding-bottom: 30px
}
.h-two {
  font-size: 48px;
  font-family: GT-Walsheim-Medium;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0
}
.spriteIcons {
  background-image: url('../images/homePage-icons-sprite.png')
}

.sprite1 {
  max-width: 80px;
  height: 93px;
  background-position: -1470px -100px;
  width: 100%
}

.sprite2 {
  max-width: 80px;
  height: 93px;
  background-position: -960px -900px;
  width: 100%
}

.sprite3 {
  max-width: 80px;
  height: 93px;
  background-position: -680px -900px;
  width: 100%
}

.sprite4 {
  max-width: 79px;
  height: 93px;
  background-position: -1470px -393px;
  width: 100%
}
.bannerContent .wrapper {
  display: flex;
  justify-content: space-between
}
.services {
  display: grid;
  grid-row: auto auto;
  grid-column-gap: 44px;
  grid-row-gap: 60px;
  grid-template-columns: 1fr 1fr;
}

.singleService {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
  padding: 15px;
  max-height: 110px
}

.singleService p {
  font-family: GT-Walsheim-Medium;
  font-weight: 500;
  font-size: 18px
}
.orderBtn {
  margin-top: 101px
}

.orderBtn a {
  color: #35414b;
  font-size: 42px;
  background: #ffce4b;
  padding: 22px 35px;
  border-radius: 60px;
  font-family: GT-Walsheim-Medium;
  border: 3px solid #ffce4b;
  transition: .3s
}

.orderBtn a:hover {
  background: 0 0;
  border: 3px solid #ffce4b
}
/* Faqs CSS */
section.faqs {
  padding-top: 70px;
  padding-bottom: 60px
}

section.faqs .wrapper {
  display: flex;
  justify-content: center
}
.accordionWrapper {
  background: #fff;
  float: left;
  max-width: 915px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 70px
}

.accordionItem {
  float: left;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: Open-sans, Arial, sans-serif
}

.accordionItemHeading {
  cursor: pointer;
  margin: 0 0 22px 0;
  padding: 25px 30px;
  background: #fff;
  color: #2b3543;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 14px rgb(124 124 124 / 50%);
  box-sizing: border-box;
  position: relative;
  font-size: 20px
}

.close .accordionItemContent {
  height: 0;
  transition: transform .4s ease;
  -webkit-transform: scaleY(0);
  -o-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  float: left;
  display: block;
  -webkit-transition: -webkit-transform .4s ease-out
}

.open .accordionItemContent {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  width: 100%;
  margin: 0 0 10px 0;
  display: block;
  -webkit-transform: scaleY(1);
  -o-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transform-origin: top;
  -o-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-transition: -webkit-transform .4s ease-in;
  -o-transition: -o-transform .4s ease;
  -ms-transition: -ms-transform .4s ease;
  transition: transform .4s ease;
  box-sizing: border-box
}

.open .accordionItemHeading {
  margin: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0
}

.accordionItem.close {
  transition: .4s ease
}

.loadMore a {
  color: #249dec;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase
}

.loadMore {
  width: 100%;
  float: left;
  margin: 0 auto;
  text-align: center;
  margin-top: 40px
}

h5.accordionItemHeading::before {
  content: '';
  position: absolute;
  background-image: url('../images/plus.svg');
  top: 24px;
  right: 38px;
  background-repeat: no-repeat;
  pointer-events: none;
  width: 13px;
  height: 14px
}

.open .accordionItemHeading::before {
  background-image: url('../images/minus.svg');
  top: 35px
}
/* How it works CSS */
.howItWorks{
  background: #f8f8f8;
    padding-top: 100px;
}
.howItWorks .wrapper {
  max-width: 1010px;
  display: flex;
  justify-content: space-between;
  padding-top: 72px;
  width: 100%;
  margin: 0 auto
}

.hierarchy {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 38px;
  max-width: 560px;
  width: 100%;
  min-height: 635px
}

.hierarchy .step:last-child::after {
  display: none
}
.hierarchy .step p{
  padding-bottom: 0;
}
.step {
  display: flex;
  padding: 26px 16px;
  box-shadow: 0 4px 5px rgb(0 0 0 / 25%);
  border-radius: 65px;
  background: #fff;
  position: relative;
  align-items: center
}

.step::after {
  content: '';
  background-image: url('../images/down-arrow.svg');
  position: absolute;
  width: 25px;
  height: 73px;
  z-index: 1;
  top: 156px;
  left: 250px;
  background-repeat: no-repeat
}

.step p {
  font-size: 29px;
  line-height: 38px;
  margin-left: 115px
}
.sprite-bg {
  background: #249dec;
  width: 96px;
  height: 98px;
  position: absolute;
  border-radius: 50%
}
.sprite9 {
  max-width: 96px;
  height: 98px;
  background-position: -73px -1197px;
  width: 100%;
  border-radius: 50%;
  margin-right: 20px
}

.sprite10 {
  max-width: 96px;
  height: 98px;
  background-position: -1442px -668px;
  width: 100%;
  border-radius: 50%;
  margin-right: 20px
}

.sprite11 {
  max-width: 96px;
  height: 98px;
  background-position: -1449px -936px;
  width: 100%;
  border-radius: 50%;
  margin-right: 20px
}
/* Service Pages CSS */
.service-pages .container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.innerContent p,.innerContent li {
    font-size: 18px;
    font-family: 'GT-Walsheim-Regular';
    padding: 10px 0;
    margin: 0;
}
.innerContent h2{
    font-size: 30px;
    font-family: 'GT-Walsheim-Regular';
    padding: 20px 0;
    margin: 0;
}
.innerContent ul, .faqs ul{
  padding-left: 40px;
}
.innerContent {
    width: 100%;
    float: left;
    box-shadow: 0 2px 14px rgb(124 124 124 / 50%);
    padding: 50px;
}
section.service-pages {
    width: 100%;
    float: left;
    padding: 50px 0;
}
@media (max-width:1600px){
  .banner{
    padding-top: 50px;
  }
  .container {
    max-width: 1170px;
    width: 100%
  }
  .heroImage img {
    width: 555px
  }
  h1 {
    font-size: 42px
  }
  .singleService {
    padding: 15px 5px;
  }
  .services {
    margin-top: 30px;
    grid-row-gap: 0px;
  }
}
@media (max-width:1300px){
  .heroImage img {
    width: 400px;
    height: 600px
  }
  .orderBtn {
    margin-top: 70px
  }
.orderBtn a {
    font-size: 30px
  }
}
@media (max-width:1200px){
  .container {
    max-width: 930px;
    width: 100%
  }
  .heroImage img {
    width: 350px !important
  }
  .orderBtn a {
    font-size: 27px;
    padding: 14px 20px
  }
  h1 {
    font-size: 40px
  }
  .services{
    grid-column-gap: 16px;
  }
  .step p {
    font-size: 24px
  }
}
@media (max-width:992px){
  .banner .container {
    max-width: 720px
  }
  .bannerText {
    max-width: 515px;
    width: 100%
  }
  .banner {
    padding-top: 65px
  }
  .banner .container {
    max-width: 720px
  }
  .heroImage {
    max-width: 300px;
    margin-top: -10px
  }
  .heroImage img {
    width: 210px !important;
    height: 510px
  }
  h1 {
    font-size: 35px;
    padding-bottom: 0px;
  }
  .services {
    grid-column-gap: 35px;
    grid-row-gap: 35px
  }
  .h-two {
    font-size: 38px
  }
  .orderBtn{
    margin-top: 30px;
  }
  .accordionWrapper {
    max-width: 730px
  }
  h4.accordionItemHeading::before {
    left: 680px
  }
  .howItWorks .wrapper {
    max-width: 935px;
    padding-top: 30px
  }
  .step {
    padding: 19px 16px
  }
  .step p {
    font-size: 20px
  }
  .hierarchy .step:first-child {
    padding: 19px 72px 19px 16px
  }
}
@media (max-width:767px){
  .banner {
    padding-top: 30px
  }
  .banner .container {
    max-width: 550px
  }
  .bannerText {
    max-width: 370px;
    padding-left: 10px
  }
  .bannerText .services {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
      margin-left: 0
  }
  .bannerContent .wrapper {
    justify-content: flex-start
  }
  h1 {
    max-width: auto;
    width: 100%;
    font-size: 28px
  }
  .h-two {
    font-size: 20px
  }
  .services {
    display: flex;
    flex-direction: column
    grid-template-columns: 220px 220px
  }
  .singleService {
    padding: 0
  }
  .singleService p {
    font-size: 13px
  }
  .bannerText .orderBtn {
    display: none
  }
  .banner .services {
    margin-left: 0
  }
  .heroImage {
    margin-top: 0
  }
  .heroImage img {
    width: 189px !important;
    height: 340px
  }
  .girlImage img {
    width: 123px;
    height: 221px
  }
  .spriteIcons {
    background-image: url('../images/mobile-sprite1.png')
  }
  .sprite1 {
    max-width: 53px;
    height: 55px;
    background-position: -85px -8px;
    width: 100%
  }
  .sprite2 {
    max-width: 53px;
    height: 55px;
    background-position: -1060px -958px;
    width: 100%
  }
  .sprite3 {
    max-width: 53px;
    height: 55px;
    background-position: -685px -956px;
    width: 100%
  }
  .sprite4 {
    max-width: 53px;
    height: 55px;
    background-position: -1810px -721px;
    width: 100%
  }
  .bannerText .orderBtn {
    display: none
  }
  section.faqs {
    padding: 30px 0
  }
  .accordionWrapper {
    padding-top: 30px;
    max-width: 364px
  }
  h4.accordionItemHeading::before {
    left: 330px
  }
  .accordionItemHeading {
    font-size: 14px
  }
  h5.accordionItemHeading::before {
    top: 29px;
    right: 24px
  }
  .howItWorks .step .spriteIcons {
    background-image: url('../images/how-mobile-sprite.png')
  }
  .sprite9 {
    max-width: 34px;
    height: 34px;
    background-position: -93px -6px
  }
  .sprite10 {
    max-width: 36px;
    height: 27px;
    background-position: -47px -7px
  }
  .sprite11 {
    max-width: 31px;
    height: 28px;
    background-position: -6px -9px
  }
  .hierarchy {
    max-width: 230px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 0;
    min-height: auto;
  }
  .step {
    margin-bottom: 35px
  }

  .step p {
    font-size: 12px;
    line-height: 14px;
    margin-left: 54px
  }
  .howItWorks .wrapper {
    max-width: 400px;
    padding-top: 20px
  }
  .step {
    padding: 8px 12px
  }
  .step::after {
    background-image: url('../images/mobile-arrow.svg');
    top: 48px;
    left: 105px
}
.hierarchy .step:first-child {
  padding: 8px 12px
}
.sprite-bg {
  width: 34px;
  height: 35px
}
}
@media(max-width:575px){
  .banner .bannerText .services {
    flex-direction: row;
    flex-wrap: wrap;
    grid-row-gap: 20px;
  }
    .banner .container{
      max-width: 375px !important
    }
    .bannerText .singleService {
    flex-direction: column;
      width: 100%;
      max-height: unset
    }
    .heroImage {
      display: none
    }
    .howItWorks{
      padding-top: 60px;
    }
    .innerContent{
      padding: 50px 20px;
    }
    .innerContent p, .innerContent li{
      font-size: 15px;
    }
    .innerContent h2{
      font-size: 22px;
    }
    h1{
      padding-bottom: 0px;
      font-size: 24px;
    }
    .open .accordionItemHeading::before {
      top: 26px
    }
    h5.accordionItemHeading::before {
      top: 38%;
      right: 20px
    }
    .accordionItemHeading {
      padding: 16px 30px
    }
    h4.accordionItemHeading::before {
      top: 19px
    }
    .open .accordionItemContent {
      margin: 20px 0 10px 0;
      box-shadow: 0 2px 8px rgb(124 124 124 / 50%);
      border-radius: 8px
    }
    .loadMore {
      margin-top: 20px
    }
    .hierarchy .step:first-child {
      padding: 8px 10px
    }
}
@media(max-width:400px){
  .step p {
    margin-left: 38px
  }
}

@media(max-width:360px){
  .banner{
    padding-top: 50px;
  }
  .singleService p{
    font-size: 10px;
  }
  .accordionItemHeading {
    padding: 15px 30px
  }
  h4.accordionItemHeading::before {
    left: 275px;
    top: 22px
  }
  .step {
    padding: 8px 10px
  }
  .step::after {
      top: 48px;
      left: 92px;
  }
}
