@font-face {
  src: url(fonts/GT-Walsheim-Pro-Regular.otf);
  font-family:"GT-Walsheim-Regular"
}
@font-face {
  src: url(fonts/GT-Walsheim-Pro-Medium.otf);
  font-family:"GT-Walsheim-Medium"
}
@font-face {
  src: url(fonts/Poppins-Regular.ttf);
  font-family:"Poppins"
}
@font-face {
  src: url(fonts/GT-Walsheim-Pro-Bold.otf);
  font-family: "GT-Walsheim-Pro-Bold";
}
html{
  scroll-behavior: smooth;
}
section,body{
  width: 100%;
  float: left;
}

*,body{
  margin: 0;
  padding: 0;
  font-family: "GT-Walsheim-Regular";
  color: #35414B;
}
